:root {
    /* bg colors */
    --background: #02050e;
    --primary: #1e50ff;
    --bg-header: #272d3785;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
    --var-roja: rgb(245, 43, 43);

    /* Text colors */
    --bg-gray: #adb9c7;
    --text-white: #f3f4f6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Roboto";
}

body {
    background: var(--bg-gray);
    color: var(--text-white);
}

/* NAVBAR */
header {
    background: var(--btn-bg);
    /* background: linear-gradient(307deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo-instagram {
    display: flex;
    margin-right: 10px;
    margin-top: 20px;
    height: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 20px 20px;
}


.navegador-inicio ul {
    display: flex;
    justify-content: center;
    align-content: center;
}

.items-navegador {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}

a {
    color: var(--text-white);
    font-weight: 600;
    text-shadow: 1px 1px 5px red;
}

a:hover {
    color: var(--var-roja);
    cursor: pointer;
}

nav {
    margin-right: 30px;
}

/* HERO */

#hero {
    display: flex;
}

.container-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 10px 20px;
    color: black;
}

.container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    gap: 10px;
    width: 45%;
    height: 80%;
    background: var(--nav-bg);
    padding: 50px 20px;
    color: var(--text-white);
}

.container-info h1 {
    font-weight: 900;
    font-size: 45px;
    font-style: italic;
    text-shadow: 2px 2px 5px red;
}

.container-info p {
    font-size: 20px;
    font-size: 400;
}

.container-hero img {
    display: flex;
    width: 45%;
    height: 80%;
    padding: 50px 20px;
    border-radius: 1rem;
    background-color: var(--nav-bg);
}

.botones {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.botones span {
    display: flex;
    background: var(--var-roja);
    color: white;
    padding: 5px 10px;
    border-radius: 1rem;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.botones span:hover {
    box-shadow: 5px 5px 15px black;
}

/* DESCRIPCION */


.container-descripcion {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 112px 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--nav-bg);
    margin-top: 70px;
    margin-bottom: 70px;
}

/* .descripcion-info {
    display: flex;
    flex-direction: column;
    background: var(--nav-bg);
    width: 100%;
    height: 150px;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    border-radius: 1rem;
    text-align: start;
} */

#descripcion h2 {
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px 5px red;
}

#descripcion p {
    font-size: 20px;
    font-size: 400;
}

/* BENEFICIOS */

#beneficios {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
}

.info-beneficios {
    color: var(--text-white);
    font-style: italic;
    text-shadow: 2px 2px 5px red;
    font-size: 25px;
    font-weight: 400;
}

.container-beneficios {
    display: flex;
    flex-direction: column;
    background: var(--nav-bg);
    width: 100%;
    padding: 112px 0px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 70px;
}


.beneficio1,
.beneficio2,
.beneficio3 {
    background: var(--var-roja);
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    width: 300px;
    height: 400px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1rem;
    cursor: pointer;
}

.beneficio1:hover {
    box-shadow: 10px 10px 10px black;
}

.beneficio2:hover {
    box-shadow: 10px 10px 10px black;
}

.beneficio3:hover {
    box-shadow: 10px 10px 10px black;
}


.beneficio1 img,
.beneficio2 img,
.beneficio3 img {
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.9rem;
}

.beneficio1 p,
.beneficio2 p,
.beneficio3 p {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.los-beneficios {
    display: flex;
    gap: 100px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contacto {
    display: flex;
    width: 100%;
    background: var(--nav-bg);
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
}

.form-contact {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 112px 30px;
    width: 45%;
    height: 500px;
    background: var(--var-roja);
    border-radius: 1rem;
}

.form-contact form {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.textarea {
    width: 350px;
    height: 100px;
}

.form-contact h2 {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 2px 2px 5px red;
}

.form-contact form label {
font-size: 20px;
font-weight: 400;
font-style: italic;
}

.boton-formulario {
    display: flex;
    background: var(--nav-bg);
    color: white;
    padding: 5px 10px;
    border-radius: 1rem;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    cursor: pointer;
}

.boton-formulario:hover {
    box-shadow: 10px 10px 10px black;
}

.mapa-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
    padding: 112px 30px;
    background: var(--var-roja);
    border-radius: 1rem;
}

.mapa-contacto iframe {
    width: 100%;
}